#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -Dwith-minui=enabled

override_dh_installinitramfs:
	dh_installinitramfs --no-scripts

override_dh_auto_install:
	dh_auto_install
	cp $(CURDIR)/debian/unl0kr.droidian.conf $(CURDIR)/debian/unl0kr/etc/unl0kr.conf
